/* Baground e algumas configuração já na aba global.*/

.aside__saudacoes{
    margin-top: -2rem;
    color: var(--color-white);
    font-size: var(--font-um);
}

.aside__termo_aceitacao{
    margin-top: -1rem;
    flex: 1;  
    font-size: var(--font-menor); 
    color: var(--color-bg);
}

.aceitacao__aside {
    display: flex;
    align-items: center;
    gap: .4rem;
}
/* voltar e editar a caixa do input */
.checkbox__input{
    width: 1rem;  
    height: 1rem;  
}

/* faltaaa alinhar o botão pra cima, não to conseguindo */
.btn__cadastrar{
    align-self: center;
    width: 70%;
    height: 3rem;
    background-color: var(--color-grey);
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.2);
    transition: .5s;
}
.btn__cadastrar a{
    color: var(--color-white);
    font-size: var(--font-details);
    font-weight: 700;
}

.btn__cadastrar:hover{
    scale: 1.05;
}

.input__container p{
    font-size:  var(--font-dois);
    font-weight: 700;
    color: var(--color-red);
}