@import url(header.css);
@import url(verificacao.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}


:root {
    --color-red: #cf4647;
    --color-orange: #F67828;
    --color-brown: #524656;
    --color-bg: #e5ddcb;
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #A4A4A4;

    --font-um: .8em;
    --font-dois: 1em;
    --font-details: 1.2em;
    --font-tres: 1.5em;
    --font-quatro: 2em;
    --font-cinco: 2.5em;
    --font-seis: 3em;
    
}


/* Botão padrão fundo vermelho (entrar header) */
.nav__btn_default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--color-red);
    border: none;
    font-size: var(--font-um);
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.137);
}

.nav__btn_default a {
    color: var(--color-white);
    font-weight: 600;
}