@import url(initial.css);
@import url(verificacao.css);
@import url(login.css);
@import url(cadastro-voluntario.css);
@import url(nossosonho.css);
@import url(nosso-objetivo.css);
@import url(cadastro-restaurante.css);
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

a {
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

:root {
    --color-red: #cf4647;
    --color-orange: #F67828;
    --color-brown: #524656;
    --color-bg: #e5ddcb;
    --color-black: #000;
    --color-white: #fff;
    --color-grey: #A4A4A4;

    --font-menor: .6em;
    --font-um: .8em;
    --font-dois: 1em;
    --font-details: 1.2em;
    --font-tres: 1.5em;
    --font-treeees: 1.7em;
    --font-quatro: 2em;
    --font-cinco: 2.5em;
    --font-seis: 3em;
    --font-sete: 3.2em; 
}


/* Botão padrão fundo vermelho (entrar header) */
.nav__btn_default {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 35px;
    border-radius: 8px;
    background-color: var(--color-red);
    border: none;
    font-size: var(--font-um);
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.137);
    transition: .5s;
}

.nav__btn_default a {
    color: var(--color-white);
    font-weight: 600;
}

.nav__btn_default:hover{
    scale: 1.05;
}

/* ---- BOTÃO VOLTAR */
.seta__voltar{
    width: 25vw;
    padding: 1.5rem;
    display: flex;
    font-size: var(--font-tres);
    filter: drop-shadow(0 2px 1px rgba(243, 242, 242, 0.322));
}
.seta__voltar a{
    color: var(--color-bg);
    transition: .5s;
}

.seta__voltar a:hover {
    font-size: 1.6rem;
    color: var(--color-white);
}
/* --------FIM SETA VOLTAR-------- */



/* --------BACKGROUND-------- */
.bg__fundo {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-red);
    z-index: -3;
}
/* --------BACKGROUND-------- */


/* --------ASIDE RED-------- */
aside{
    width: 27vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* --------ASIDE RED-------- */

/* --------ASIDE LOGO-------- */
.aside__logo_marca img{
    width: 7.5rem;
    margin-block: 1.5rem;
}

/* --------ASIDE CONTAINER APRESENTAÇÃO-------- */
.apresentation__chamada {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

/* --------ASIDE TITULO BEM VINDO-------- */
.aside__title{
    font-size:  var(--font-seis);
    text-align: center;
    color: var(--color-white);
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: .02em;
    margin-bottom: 1rem;
}

.instrucoes__container{
    display: flex;
    flex-direction: column;
    margin-block: 1rem;
    margin-top: -1rem;
}

.aside__details{
    color: var(--color-white);
    font-size: var(--font-um);
}
/* --------ASIDE LOGO-------- */

