@import url(verificacao.css);
.teste{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #FFF;
    border: none;
    box-shadow: 0px 1px 4px 2px rgba(0, 0, 0, 0.137);
}

.seta-voltar{
    width: 13px;
    height: 20px;
    color: var(--color-red);
}

.container {
    display: flex;
    height: 100vh;
  }
  
  .left-side {
    background-color: #cf4647;
    color: white;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .right-side {
    background-color: #fff;
    width: 60%;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  h1, h2 {
    font-family: 'Arial', sans-serif;
    font-weight: bold;
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
  }
  
  .restaurant {
    background-color: #ff9900; /* Botão laranja */
  }
  
  .volunteer {
    background-color: #cf4647; /* Botão vermelho */
    color: white;
  }

.botao-entrar{
  display: flex;
  width: 362px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 3px solid #FFF;
  background-color: #CF4647;
  color: #FFF;
  color: #FFF;
}

.frase-botao-entrar{
  color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 0%; /* 0px */
}

.restaurant{
  height:60px;
  padding:10px;
  justify-content:center;
  align-items: center;
  gap:10px;
  align-self: strecth;
  border-radius: 10px;
  background: #FE8C10;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.volunteer{
  height:60px;
  padding:10px;
  gap:10px;
  align-self: strecth;
  border-radius: 10px;
  background: #CF4647;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
}

.mensagem-cadastro{
  width: 847px;
  color: #CF4647;
  text-align:center;
  font-family:Poppins;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 2.25px;
}

.buttons{
  display:flex;
  justify-content: center;
}

.alinhar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Empilha os itens verticalmente */
}